@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75..100,300..800&display=swap');

:root {
    --bc: #f0f0f0;
    --pri-black: #1a1a1a;
    --pri-blue: #5271ff;
    --grad-dark1: #0d0d0d;
    --grad-dark2: #1a1a1a;
    --grad-blue1: #5271ff;
    --grad-blue2: #859dff;
    --extra-dark: #2e2e2e;
    --extra-blue: #4059c7; 
}

body {
    background-color: var(--bc);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 90;
}

.topbar {
    background-color: var(--pri-black);
    background: linear-gradient(160deg, var(--grad-dark1) 0%, var(--grad-dark2) 40%, var(--grad-blue1) 100%, var(--grad-blue2) 100%);
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.flex-left {
    height: 100%;
    width: 50%;
    display: inherit;
    align-items: inherit;
    justify-content: flex-start;
}

.flex-right {
    height: 100%;
    width: 50%;
    display: inherit;
    align-items: inherit;
    justify-content: flex-end;
}

.nav-logo {
    height: 70%;
    padding: 0 20px;
}

.nav-search {
    font-family: inherit;
    color: var(--pri-black);
    border: 2px outset var(--pri-black);
    height: 50%;
    width: 300px;
    padding: 0 8px;
    transition: all 0.3s ease-in-out;
}

.nav-search:focus {
    border: 2px outset var(--pri-blue);
    color: var(--pri-blue);
    outline: none;
}

.nav-btn {
    height: 60%;
    background-color: 0;
    display: inherit;
    text-align: center;
    align-items: inherit;
    color: var(--bc);
    padding-right: 30px;
    padding-left: 10px;
    margin-right: 10px;
    border: 0 solid var(--bc);
    border-left-width: 1px;
    transition: all 0.3s ease-in-out;
}

.nav-btn:hover {
    background-color: var(--bc);
    color: var(--pri-blue);
    cursor: pointer;
}